@charset "UTF-8";

.introduction {
	width: 350px; /* On a indiqué une largeur (obligatoire) */
	margin: auto;
	/* On peut donc demander à ce que le bloc soit centré avec auto */
	border: 1px solid black;
	text-align: justify;
	padding: 12px;
	margin-bottom: 20px;
}

h1 {
	color: red;
	font-size: 40px; /* Titres de 40 pixels */
}

body {
	background-image:
		url("https://c.pxhere.com/photos/ca/4c/photo-80231.jpg!d");
	background-repeat: no-repeat;
	/* 	background-position: 100px 150px; */
}