<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.Accueil</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>RechercheSite</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.RechercheSite</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ListeUtilisateurs</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.ListeUtilisateurs</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.Inscription</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>DetailsSite</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.DetailsSite</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Connexion</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.Connexion</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Deconnexion</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.Deconnexion</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Upload</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.Upload</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AjouterCommentaire</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.AjouterCommentaire</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>TaguerUnSiteOfficiel</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.TaguerUnSiteOfficiel</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SupprimerCommentaire</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.SupprimerCommentaire</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ModifierCommentaire</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.ModifierCommentaire</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreationSite</servlet-name>
		<servlet-class>com.aubrun.eric.projet6.webapp.servlets.CreationSite</servlet-class>
		<init-param>
			<param-name>chemin</param-name>
			<param-value>/Users/ricobsj/fichiers/</param-value>
		</init-param>
		<multipart-config>
			<location>/Users/ricobsj/fichiers</location>
			<max-file-size>10485760</max-file-size> <!-- 10 Mo -->
			<max-request-size>52428800</max-request-size> <!-- 5 x 10 Mo -->
			<file-size-threshold>1048576</file-size-threshold> <!-- 1 Mo -->
		</multipart-config>
	</servlet>

	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern>/accueil</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RechercheSite</servlet-name>
		<url-pattern>/rechercheSite</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ListeUtilisateurs</servlet-name>
		<url-pattern>/listeUtilisateurs</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DetailsSite</servlet-name>
		<url-pattern>/detailsSite</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Connexion</servlet-name>
		<url-pattern>/connexion</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Deconnexion</servlet-name>
		<url-pattern>/deconnexion</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreationSite</servlet-name>
		<url-pattern>/creationSite</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjouterCommentaire</servlet-name>
		<url-pattern>/ajouterCommentaire</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TaguerUnSiteOfficiel</servlet-name>
		<url-pattern>/taguerUnSiteOfficiel</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SupprimerCommentaire</servlet-name>
		<url-pattern>/supprimerCommentaire</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ModifierCommentaire</servlet-name>
		<url-pattern>/modifierCommentaire</url-pattern>
	</servlet-mapping>

</web-app>